/*	SourceSerifPro
	================================================

	100	Thin
	200	Extra Light (Ultra Light)
	300	Light
	400	Normal
	500	Medium
	600	Semi Bold (Demi Bold)
	700	Bold
	800	Extra Bold (Ultra Bold)
	900	Black (Heavy)

	http://www.w3.org/TR/css-fonts-3/#font-weight-prop

	================================================ */

	/*	Regular = 400
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:		url('SourceSerifPro-Regular.woff') format('woff');
			font-weight:  normal;
			font-style:   normal;
		}

	/*	Bold = 700
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:	url('SourceSerifPro-Bold.woff') format('woff');
			font-weight:  bold;
			font-style:   normal;
		}


	/*	Extra Light = 200
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:		url('SourceSerifPro-ExtraLight.woff') format('woff');
			font-style:   normal;
			font-weight:  200;
		}

	/*	Light = 300
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:		url('SourceSerifPro-Light.woff') format('woff');
			font-style:   normal;
			font-weight:  300;
		}

	/*	Regular = 400 (Above)
		============================================ */

	/*	Semi Bold = 600
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:		url('SourceSerifPro-Semibold.woff') format('woff');
			font-style:   normal;
			font-weight:  600;
		}

	/*	Bold = 700 (Above)
		============================================ */

	/*	Black = 900
		============================================ */

		@font-face {
			font-family: 'Source Serif Pro';
			src:		url('SourceSerifPro-Black.woff') format('woff');
			font-style:   normal;
			font-weight:  900;
		}
