/*	Core
	================================================ */

	html {
		--serif: "Source Serif Pro", serif;
		--sans-serif: "Source Sans Pro", sans-serif;
		--monospace: "Source Code Pro", monospace;
		--test: "Hello";
	}
	html, body {
		font-family: var(--sans-serif);
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		height: 100vh;
		width: 100vw;
		font-size: 100%;
	}

	h3 {
		margin: 0.5rem 0;
	}
/*	Layout
	================================================
	form#controls
		div#tabs
		div#misc
	div#forms
		form#…
			div.help
			textarea
		form#…
		form#…
	footer
		div#search
		div#info
	================================================ */

	body {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	form#controls {
		qflex: 1;
		display: flex;
	}
	form#controls>div#tabs {

	}
	form#controls>div#misc {

	}

	div#forms {
		flex: 1;
	}
	div#forms>form {
		/*	display: flex; */
		flex-direction: column;
	}
	div#forms>form div.textarea {
		display: flex;
		flex-direction: row;
		font-family: var(--monospace);
	}

	footer {
		qflex: 1;
	}

/*	Forms
	================================================ */

	div#forms {
		box-sizing: border-box;
		height: calc(100vh - 14em);
	}
	div#forms form {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: none;
	}
	div#forms form.selected {
		display: flex;
		flex: 1;
	}

/*	Buttons
	================================================ */

	form#controls {
		background: linear-gradient(to bottom, #f8f8f8, #ccc);
		height: 30px;
		padding: 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-between;
	}
	form#controls>div {
		border: none;
		padding: 0;
	}
	form#controls>div#tabs {
		flex: 1;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
	}
	form#controls>div#tabs>button {
		border: thin solid #999;
		border-style: none solid none none;
		background-color: #ddd;
		outline: none;
		font-family: var(--sans-serif);
		text-shadow: 0 1px 0 white;
		font-size: .9rem;
		padding: .375rem .5rem;
	}
	form#controls>div#tabs>button.selected {
		background-color: #f8f8f8;
		border-bottom: thin solid #f8f8f8;
	}
	form#controls>div#tabs>button[data-status="edited"] {
		background-color: #f8f8f8;
		qbackground-color: red;
		border-bottom: medium solid red;
	}

	form#controls>div#misc>select {
		background-color: #ddd;
		font-size: .9rem;
		-webkit-appearance: none;
		appearance: none;
		border: thin solid #999;
		padding: .125rem .25rem;
		border-radius: 0;
		outline: none;
		width: 8em;
		color: #333;
		text-shadow: 0 1px 0 white;
qheight: 100%;


				font-family: var(--sans-serif);
				text-shadow: 0 1px 0 white;
				font-size: .9rem;

	}
	form#qcontrols>div#misc>select:before {
		content: "*";
	}
	form#qcontrols>div#misc>select>option:before {
		content: "qqqq";
	}

/*	Footer
	================================================ */

	footer {
		box-sizing: border-box;
		background: linear-gradient(to bottom, #f8f8f8, #ccc);
		padding: 0rem .5rem .25rem 1rem;
		border-top: thin solid #ccc;
		pointer-events: none;
		display: flex;
		flex-direction: column;
	}
	form#search {
		display: none;
		background-color: #f8f8f8;
		padding: .5rem .5rem;
	}
	form#search input[name="text"] {
		font-size: .9rem;
		padding: .25em .5em .5em;
	}
	footer>div#info {
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	footer>div#info>p {
		box-sizing: border-box;
		margin: 0;
		padding: .25rem;
		font-family: var(--sans-serif);
		font-size: .9rem;
		text-shadow: 0 1px 0 white;
	}

	footer>div#info>p#message[data-status="edited"] {
		color: red;
	}

/*	Content
	================================================ */

	form {
	}

	div#forms form textarea[name="content"] {
		padding: 1em;
		tab-size: 4;
		-moz-tab-size: 4;
		flex: 1;
		font-family: var(--monospace);
		border: none;
		outline: none;
		width: 100%;
		height: 100%;
		qoverflow-y: scroll;
		qoverflow-x: scroll;
		box-sizing: border-box;
		overflow: auto;
		white-space: nowrap;
	}
	form#hosts button[name="save"] {


	}

	form textarea[name="content"],
	div.line-numbers {
		font-size: 1rem;
		padding-top: 1rem;
		resize: none;
	}


/*	Line Numbers
	================================================ */

	div.line-numbers {
		box-sizing: border-box;
		white-space: pre;
		width: 4em;
		text-align: right;
		padding-right: .5rem;
		qbackground-color: #eee;
		overflow: auto;
		border-right: thin solid #ccc;
		background-color: #2A5F5B;
		color: white;
	}
	div.line-numbers::-webkit-scrollbar {
	    display: none;
	}

/*	Generator
	================================================ */

	div#forms form#generator {
		display: text;
		flex-direction: column;
		font-family: var(--sans-serif);
	}
	div#forms form#generator>div.etc {
		padding: 1rem;
	}

	form#generator label {
		font-weight: bold;
		display: block;
		margin-top: .5rem;
		margin-bottom: .25rem;
	}
	form#generator button[name="generate"] {
		color: #333;
		margin-top: .5rem;
		border: thin solid #ddd;
		width: 12rem;
		border-radius: 4px;
		padding: .5rem .75rem;
		background-color: #eee;
		font-size: 1rem;
		outline: none;
	}
	form#generator button[name="generate"]:hover {
		background-color: #ddd;
	}
	div#generated {
		qdisplay: flex;
	}
	div#forms form#generator textarea[name="content"] {
		resize: none;
		height: 100%;
	}
	div#forms form#generator input[type="text"] {
		box-sizing: border-box;
		font-family: var(--monospace);
		padding: .25rem .5rem;
		font-size: 1rem;
		width: 100%;
		outline: none;
	}

/*	About
	================================================ */

	div#about {
		display: none;
	}

	div#about {
		position: fixed;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 480px; height: 480px;
		margin: auto;
		background-color: white;
		border: thick solid #2A5F5B;
		padding: 1em;
		box-shadow: 4px 4px 4px #666;
		overflow: auto;
		-moz-tab-size: 4;
		tab-size: 4;
	}
	div#about h2, div#about h3 {
		color: #2A5F5B;
		font-weight: bold;
	}
	div#about a {
		color: #2A5F5B;
		text-decoration: none;
		border-bottom: thin solid transparent;
		padding-bottom: .125em;
	}
	div#about a:hover {
		border-bottom: thin solid #2A5F5B;
	}

/*	div.help
	================================================ */

	div.help {
		border-bottom: thin solid #999;
		padding: 1rem;
		background-color: #f8f8f8;
		font-size: .9rem;
	}

	div.help>p {
		margin: .25rem 0;
	}
	div.help code, div.help pre {
		font-family: var(--monospace);
	}
	div.help pre {
		margin: .25rem 1.5rem;
	}
