/*	Theme
	================================================ */

	body {
		--theme-color: #2A5F5B;
		--misc-action-button-color: #333;
		--misc-action-button-background-color: #f8f8f8;
		--misc-action-button-hover-background-color: #eee;
		--misc-action-button-border-color: #666;

		--tabs-button-background-color: #ddd;
		--tabs-button-border-color: #999;
		--tabs-button-text-shadow: 0 1px 0 white;
		--tabs-button-selected-background-color: #f8f8f8f8;
		--tabs-button-selected-border-color: #f8f8f8f8;

		--tabs-button-status-edited-background-color: #f8f8f8;
		--tabs-button-status-edited-border-color: red;

		--misc-select-color: #333;
		--misc-select-text-shadow: 0 1px 0 white;
		--misc-select-background-color: #f8f8f8;
		--misc-select-border-color: #ccc;
		--misc-select-option-color: #eee;

		--search-background-color: #f8f8f8;
		--search-case-sensitive-label-border-color: #ddd;
		--search-case-sensitive-label-background: linear-gradient(to bottom, #f8f8f8, #eee);
		--search-case-sensitive-label-box-shadow: inset 1px 1px 1px white, inset -1px -1px 1px #ddd;
		--search-case-sensitive-checked-label-color: white;
		--search-case-sensitive-checked-label-border-color: #666;
		--search-case-sensitive-checked-label-background: linear-gradient(to bottom, #777, #666);
		--search-case-sensitive-checked-label-box-shadow: inset 1px 1px 1px #666;

		--footer-background: linear-gradient(to bottom, #f8f8f8, #ccc);
		--footer-border-color: #ccc;
		--footer-status-edited: red;
		--footer-info-text-shadow: 0 1px 0 white;

		--line-numbers-color: white;
		--line-numbers-background-color: #2A5F5B;
		--line-numbers-border-color: #ccc;

		--generator-button-color: #333;
		--generator-button-background-color: #eee;
		--generator-button-border-color: #eee;
		--generator-button-hover-background-color: #ddd;

		--about-background-color: white;
		--about-border-color: var(--theme-color);
		--about-box-shadow: 4px 4px 4px #666;
		--about-headings-color: var(--theme-color);
		--about-anchor-color: var(--theme-color);

		--help-background-color: #f8f8f8;
		--help-border-color: #999;
	}

/*	Core
	================================================ */

	html {
		--serif: "Source Serif Pro", serif;
		--sans-serif: "Source Sans Pro", sans-serif;
		--monospace: "Source Code Pro", monospace;
		--test: "Hello";
	}
	html, body {
		font-family: var(--sans-serif);
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		height: 100vh;
		width: 100vw;
		font-size: 100%;
	}

	h3 {
		margin: 0.5rem 0;
	}

/*	Layout
	================================================
	form#controls
		div#tabs
		div#misc
	div#forms
		form#…
			div.help
			textarea
		form#…
		form#…
	footer
		div#search
		div#info
	================================================ */

	body {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	form#controls {
		qflex: 1;
		display: flex;
	}
	form#controls>div#tabs {

	}
	form#controls>div#misc {

	}
	form#controls>div#choose-server-root {
		margin-top: .25rem;
	}

	div#forms {
		flex: 1;
	}
	div#forms>form {
		font-family: var(--sans-serif);
		flex-direction: column;
	}
	div#forms>form div.textarea {
		display: flex;
		flex-direction: row;
		font-family: var(--monospace);
		overflow: auto;
	}

	footer {
		qflex: 1;
	}

/*	Forms
	================================================ */

	div#forms {
		box-sizing: border-box;
		height: calc(100vh - 14em);
	}
	div#forms form {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		display: none;
		grid-template-rows: auto 1fr;
		grid-template-columns: 1fr 1fr;
	}
	div#forms form.selected {
		display: grid;
		flex: 1;
	}

/*	Buttons
	================================================ */

	form#controls {
		background: linear-gradient(to bottom, #f8f8f8, #ccc);
		height: 30px;
		padding: 0;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-between;
	}
	form#controls>div {
		border: none;
		padding: 0;
	}
	form#controls>div#tabs {
		flex: 1;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
	}

	form#controls>div#tabs>button {
		border: thin solid var(--tabs-button-border-color);
		border-style: none solid none none;
		background-color: var(--tabs-button-background-color);
		text-shadow: var(--tabs-button-text-shadow);
		outline: none;
		font-family: var(--sans-serif);
		font-size: .9rem;
		padding: .375rem .5rem;
	}
	form#controls>div#tabs>button.selected {
		background-color: var(--tabs-button-selected-background-color);
		border-bottom: thin solid var(--tabs-button-selected-border-color);
	}
	form#controls>div#tabs>button[data-status="edited"] {
		background-color: var(--tabs-button-status-edited-background-color);
		border-bottom: medium solid var(--tabs-button-status-edited-border-color);
	}


/*	Search
	================================================ */

	form#search {
		display: flex;
		background-color: var(--search-background-color);
		padding: .25rem .25rem;
		font-size: .8rem;
		width: 100%;
	}
	form#search>div {
		flex: 1;
		display: flex;
	}
	form#search input[name="text"],form#search input[name="replacement"] {
		font-family: var(--monospace);
		padding: .125em .5em .25em;
		flex: 1;
	}
	form#search input[id="search-case-sensitive"] {
		display: none;
	}
	form#search input[id="search-case-sensitive"]+label {
		border: thin solid var(--search-case-sensitive-label-border-color);
		background: var(--search-case-sensitive-label-background);
		box-shadow: var(--search-case-sensitive-label-box-shadow);
		padding: .125em .5em .25em;
		margin-right: 2em;
	}
	form#search input[id="search-case-sensitive"]:checked+label {
		color: var(--search-case-sensitive-checked-label-color);
		border: thin solid var(--search-case-sensitive-checked-label-border-color);
		background: var(--search-case-sensitive-checked-label-background);
		box-shadow: var(--search-case-sensitive-checked-label-box-shadow);
	}


/*	Footer
	================================================ */

	footer {
		box-sizing: border-box;
		background: var(--footer-background);
		padding: 0rem .5rem .25rem 1rem;
		border-top: thin solid var(--footer-border-color);
		pointer-events: none;
		display: flex;
		flex-direction: column;
	}
	footer>div#info {
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	footer>div#info>p {
		box-sizing: border-box;
		margin: 0;
		padding: .25rem;
		font-family: var(--sans-serif);
		font-size: .9rem;
		text-shadow: var(--footer-info-text-shadow);
	}

	footer>div#info>p#message[data-status="edited"] {
		color: var(--footer-status-edited);
	}

/*	Content
	================================================ */

	form {
	}

	div#forms form :is(textarea[name="content"],textarea[name="code"]) {
		padding: 1em;
		tab-size: 4;
		-moz-tab-size: 4;
		flex: 1;
		font-family: var(--monospace);
		border: none;
		outline: none;
		width: 100%;
		-height: 100%;
		-height: 70vh;
		qoverflow-y: scroll;
		qoverflow-x: scroll;
		box-sizing: border-box;
		overflow: auto;
		white-space: nowrap;
		resize: none;
	}
	form#hosts button[name="save"] {


	}

	form :is(textarea[name="content"],textarea[name="code"]),
	div.line-numbers {
		font-family: var(--monospace);
		font-size: .9rem;
		padding-top: 1em;
		padding-bottom: 1em;
		line-height: 1.25;
		-height: 70vh;
	}


/*	Line Numbers
	================================================ */

	div.line-numbers {
		color: var(--line-numbers-color);
		background-color: var(--line-numbers-background-color);
		border-right: thin solid var(--line-numbers-border-color);
		box-sizing: border-box;
		white-space: pre;
		width: 4em;
		text-align: right;
		padding-right: .5rem;
		overflow: auto;
	}
	div.line-numbers::-webkit-scrollbar {
	    display: none;
	}

/*	Hosts File
	================================================ */

	div#forms form#hosts-file {
		grid-template-columns: 1fr;
	}

/*	httpd.conf
	================================================ */

	div#forms form#httpd-conf {
		grid-template-columns: 1fr;
	}

/*	Virtual Hosts
	================================================ */

	div#forms form#virtual-hosts {
		grid-template-columns: 1fr;
	}

/*	Generator
	================================================ */

	div#forms form#generator {
		font-family: var(--sans-serif);
		grid-template-columns: 30em 1fr;
		grid-template-rows: auto 1fr;
	}
	div#forms form#generator>div.help {
		grid-column: 1/3;
	}

	div#forms form#generator>div.etc {
		padding: 1rem;
	}

	form#generator label {
		font-weight: bold;
		display: block;
		margin-top: .5rem;
		margin-bottom: .25rem;
	}
	form#generator button[name="generate"] {
		color: var(--generator-button-color);
		background-color: var(--generator-button-background-color);
		border: thin solid var(--generator-button-border-color);
		margin-top: .5rem;
		width: 12rem;
		border-radius: 4px;
		padding: .5rem .75rem;
		font-size: 1rem;
		outline: none;
	}
	form#generator button[name="generate"]:hover {
		background-color: var(--generator-button-hover-background-color);
	}
	div#generated {
		qdisplay: flex;
	}
	div#forms form#generator :is(textarea[name="content"],textarea[name="code"]) {
		resize: none;
		height: 100%;
	}
	div#forms form#generator input[type="text"] {
		box-sizing: border-box;
		font-family: var(--monospace);
		padding: .25rem .5rem;
		font-size: 1rem;
		width: 100%;
		outline: none;
	}

/*	php.ini
	================================================ */

	div#forms form#php-ini {
		grid-template-columns: 1fr;
	}

/*	Miscellaneous File
	================================================ */

	div#forms form#misc-text {
		grid-template-columns: 1fr;
	}

/*	Actions
	================================================ */

	div#forms form#misc-actions {
		grid-template-columns: 1fr;
	}


/*	About
	================================================ */

	div#about {
		display: none;
	}

	div#about {
		background-color: var(--about-background-color);
		border: thick solid var(--about-border-color);
		box-shadow: var(--about-box-shadow);
		position: fixed;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 480px; height: 480px;
		margin: auto;
		padding: 1em;
		overflow: auto;
		-moz-tab-size: 4;
		tab-size: 4;
	}
	div#about h2, div#about h3 {
		color: var(--about-headings-color);
		font-weight: bold;
	}
	div#about a {
		color: var(--about-anchor-color);
		text-decoration: none;
		border-bottom: thin solid transparent;
		padding-bottom: .125em;
	}
	div#about a:hover {
		border-bottom: thin solid #2A5F5B;
	}

/*	div.help
	================================================ */

	div.help {
		background-color: var(--help-background-color);
		border-bottom: thin solid var(--help-border-color);
		padding: 1rem;
		font-size: .9rem;
	}

	div.help>ol {
		margin:  0;
		padding: 0;
		qlist-style-position: inside;
	}
	div.help>ol>li {
		margin: 0.5em 1.0em;
	}
	div.help>ol>li>pre {
		margin-top: 0.5rem;
		margin-bottom: 0
	}
	div.help>ol>li>pre+pre {
		margin-top: 0;
	}
	div.help>ol>li>ul {
		list-style: disc;
		margin: 0;
	}

	div.help>p {
		margin: .25rem 0;
	}
	div.help code, div.help pre {
		font-family: var(--monospace);
	}
	div.help pre {
		margin: .25rem 1.5rem;
	}

	.macos {
		display: none
	}

/*	Misc Actions
	================================================ */

	form#misc-actions div.etc {
		padding: 1em;
		width: 24em;
	}

	form#misc-actions div.etc p {
		margin: .25em 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 32em;
	}
	form#misc-actions div.etc p>button {
		color: var(--misc-action-button-color);
		background-color: var(--misc-action-button-background-color);
		box-sizing: border-box;
		border: thin solid var(--misc-action-button-border-color);
		font-size: 1em;
		padding: .5em 1em;
		text-align: left;
		qwidth: 100%;
	}
	form#misc-actions div.etc p>button:only-child {
		grid-column: 1/3;
	}
	form#misc-actions div.etc p>button:nth-child(n+2) {
		border-left: none;
	}

	form#misc-actions div.etc p>button:hover {
		background-color: var(--misc-action-button-hover-background-color);
	}

/*	PHP Runner
	================================================
	form#php-runner">
		div#php-help.help
			h3
		div#php-code
			textarea[name="code"]
			code.language-php
		div#php-control
			label
				input[name="html"]
			button[name="doit"]
		div#php-result
			output[name="result"]

	================================================ */

	div#forms form#php-runner {
		display: grid;
		grid-template-rows: auto 1fr 1fr;
		grid-template-columns: 1fr;
	}

	div#forms form#php-runner * {
		box-sizing: border-box;
	}

	div#forms form#php-runner>div#php-help {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	div#forms form#php-runner>div#php-code {
		box-sizing: border-box;

		grid-column: 1/2;
		grid-row: 2/3;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 6em 1fr;

		position: relative;
	}
	div#forms form#php-runner>div#php-control {
		backgroiund-color: #f8f8f8;
		border: thin #666;
		border-style: solid none;
		padding: 0.5em 1em;
		grid-column: 1/2;
		grid-row: 3/4;

	}

	div#forms form#php-runner>div#php-control>label {
		border: thick solid red;
		display: none;
	}

	div#forms form#php-runner>div#php-code>button[name="doit"] {
		background-color: darkgreen;
		color: white;
		padding: 0.5em 1em;
		border: darkgreen thin solid;
		display: inline-block;
		width: 6em;
		box-sizing: border-box;
		position: absolute;
		font-size: 1.2em;
		right: 0.5em;
		bottom: 0.5em;
	}
	div#forms form#php-runner>div#php-control>button[name="doit"] {
		-margin-left: 4em;
		background-color: darkgreen;
		color: white;
		padding: 0.5em 1em;
		border: darkgreen thin solid;
		display: inline-block;
		qwidth: 6em;
		box-sizing: border-box;
	}

	div#forms form#php-runner>div#php-result {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	div#forms form#php-runner>div#php-code>code {
		display: none;
	}

	div#forms form#php-runner>div#php-code :is(div.line-numbers,textarea) {
		white-space: pre;
		font-family: "Source Code Pro";
		font-size: 1.2em;
	}

	div#forms form#php-runner>div#php-code>div.line-numbers {
		grid-column: 1/2;
		grid-row: 1/2;
		padding: 0.25em 0.5em 0 0;
		text-align: right;
	}
	div#forms form#php-runner>div#php-code>textarea {
		padding: 0.25em 0.5em 0 0.75em;
		grid-column: 2/3;
	}
	div#forms form#php-runner code {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	div#forms form#php-runner>div#php-result {
		box-sizing: border-box;
		font-family: "Source Code Pro";
		font-size: 1.2em;
		white-space: pre;
		padding: 1em;
		background-color: white;
		border: 0.5em solid #ddd;
	}
/*	Settings
	================================================
	div#forms form#settings
		div.help
			h3
			ol
		div#choose-server-root
			output[name="server-root"]
			button[name="server-path"
		div#misc
			p
			select[name="server"]
		div#choose-php-interpreter
			p
			output[name="php-interpreter"]
			button[name="php-interpreter-path"]
	================================================ */

	div#forms form#settings {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto 1fr;
	}

	div#forms form#settings :is(div#choose-server-root,div#misc,div#choose-php-interpreter) {
		padding: 1em 1em;
		border: thin solid #666;
		border-style: none none solid none;
	}

	div#forms form#settings h4 {
		font-weight: bold;
		qpadding: 0.5em 0.75em;
		margin: 0 0 0.5em 0;
	}
	div#forms form#settings output {
		display: block;
		box-sizing: content-box;
		height: 1em;
		border: thin solid #999;
		font-family: "Source Code Pro";
		padding: 0.5em 0.75em;
		margin: 0 0 0.5em 0;
	}
	div#forms form#settings button {
		font-size: 1em;
		padding: 0.5em 0.75em;
		margin: 0 0 0.5em 0;
		border: thin solid #eee;
		background-color: #eee;
	}
	div#forms form#settings button:hover {
		border: thin solid #ddd;
		background-color: #ddd;
	}

	div#forms form#settings>div#misc>select {
		color: var(--misc-select-color);
		background-color: var(--misc-select-background-color);
		border: thin solid var(--misc-select-border-color);
		font-size: .9rem;
		-webkit-appearance: none;
		appearance: none;
		padding: .125rem .25rem;
		border-radius: 0;
		outline: none;
		width: 8em;

		font-family: var(--sans-serif);
		text-shadow: var(--misc-select-text-shadow);
		font-size: .9rem;

		margin: .125rem;
	}

	div#forms form#settings>div#misc>select>option {
		background-color: var(--misc-select-option-color);
	}
